.MMM-uber {
	position: relative;
  padding: 1px;
	border-bottom: solid 1px #222;
	min-height: 35px;
	min-width: 300px;
}

.MMM-uber .badge {
	padding-right: 10px;
	margin-top: 10px;
}

.MMM-uber .uberButton span {
	font-family: 'Helvetica Neue';
	font-weight: 300;
	font-size: 16pt;
	font-color: #C0C0C8;
	/*padding: 10px;*/

}
